
<% layout("/layouts/boilerplate") %>
<style>
    #filters{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align:center;
        margin-right: 2rem;
        margin-top:2rem;
        opacity:0.7;
        cursor: pointer;
    }
    .filter:hover{
        opacity:1;
        cursor: pointer;
    }
    .filter p{
        font-size:0.8rem;
    }
    .tax-info{
        display:none;
    }
    .tax-toggle{
        border:1px solid black;
        height:2.75rem;
        border-radius: 1rem;
        display:flex;
        padding:1rem;
        align-items: center;
        margin-left:2rem;
    }
</style>




<body>

    <!-- <h2>All Listings</h2> -->
     <div id="filters">
        <div class="filter" >
            <a href="/search/category/trending" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>

            </a>
            
        </div>
        <div class="filter">
            <a  href="/search/category/Rooms" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </a>
            
        </div>
        <div class="filter">
            <a  href="/search/category/Iconic_Cities" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </a>
           
        </div>
        <div class="filter">
            <a  href="/search/category/Mountain" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
            </a>
            
        </div>
        <div class="filter">
            <a  href="/search/category/Amazing_Pools" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pool</p>
            </a>
            
        </div>
        <div class="filter">
            <a  href="/search/category/Castle" style="text-decoration: none; color:black">
                <div><i class="fa-brands fa-fort-awesome-alt"></i></div>
                <p>Castles</p>
            </a>
           
        </div>
        
        <div class="filter">
            <a  href="/search/category/Camping" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </a>
           
        </div>
        <div class="filter">
            <a  href="/search/category/Farm" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farms</p>
            </a>
           
        </div>
        <div class="filter">
            <a  href="/search/category/Beach" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
            </a>
            
        </div >
        <div class="filter">
            <a  href="/search/category/Arctic" style="text-decoration: none; color:black">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
           
        </div>
        <div class="filter">
            <a  href="/search/category/Dome" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Dome</p>
            </a>
            
        </div>
        <div class="filter">
            <a  href="/search/category/Boats" style="text-decoration: none; color:black">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
            </a>
           
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch" >
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
        
     </div>
    <div class="container">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mt-3">
                <% for(let place of listings){ %>
                    <a href="/listings/<%=place._id%>" class="listing-link">
                        <div class="card listing-card col">
                            <img src="<%=place.image.url%>" class="card-img-top" style="height: 20rem;" alt="Listin_Image">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b><%=place.title %></b>
                                    <br>
                                    &#8377;
                                    <%=place.price.toLocaleString("en-IN")%>/night
                                    &nbsp;
                                    &nbsp;
                                    <i class="tax-info">+28%gst</i>
                                </p>
                            </div>
                        </div>
                    </a>
                    
                    <!-- <li><a href="/listings/<%=place._id%>"><%=place.title %></a></li> -->
                <% } %>
            </div>
    </div>
    <script>
     let taxSwitch=document.getElementById("flexSwitchCheckDefault");
     taxSwitch.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for(let info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display="inline";
            }else{
                info.style.display="none";
            }
        }
     })
    </script>

</body>
